__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
.vscode/
.idea/
portfolio_export_*.csv
portfolio_export_*.txt
portfolio_*.csv
portfolio_*.txt
